

.hero-section {
  width: 100%;
  height: clamp(200px, 70vh, 750px);
  padding: 100px 0 100px;
  background-image: url("./assets/00b50f6d2e72f1f50e5b3f344df91d98371780e4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -260px;
  position: relative;
  text-align: center;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}

.hero-section::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 220px;
  background: linear-gradient(180deg, rgba(4, 30, 66, 0) 0%, #041E42 100%);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  pointer-events: none;
  z-index: 1;
}


@media (max-height: 1400px) {
  .hero-section {
    background-position: center 0px;
  }
}

@media (max-height: 700px) {
  .hero-section {
    background-position: center 0px;
  }
}

@media (max-width: 600px) {
  .hero-section {
    background-position: center 0px;
  }
}

.hero-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: 1;
}

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headline {
  position: relative;
  font-size: 72px;
  font-weight: 700;
  line-height: 90px;
  margin-bottom: 24px;
  letter-spacing: -2px;
  color: #FFFFFF;
  display: inline-block;
  z-index: 1;
  max-width: 1150px;
}

.headline::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 0;
  border-radius: 24px;
  mix-blend-mode: multiply;
  filter: blur(15px);
}



.gradient-text1 {
  position: relative;
  display: inline-block;
  background: linear-gradient(100.18deg, #FFFFFF 51.66%, #E11F35 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.hero-section .subtitle {
  position: relative;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  margin: 0 auto 0px auto;
  line-height: 24px;
  max-width: 730px;
}

@media (max-width: 1400px) {
  .headline {
    font-size: 68px;
  }

  .spm-section:first-of-type {
    padding-top: 0;
  }

  /* .hero-section {
    height: auto;
  } */
}

@media (max-width: 992px) {

  .headline {
    font-size: 60px;
    margin-bottom: 20px;
  }

  .hero-section .subtitle {
    font-size: 18px;
    margin-bottom: 40px;
  }

  .animated-words {
    line-height: 90px;
    height: 90px;
  }
}

@media (max-width: 600px) {
  .hero-section {
    padding: 60px 0 60px 0;
    align-items: center;
  }

  .gradient-text {
    height: auto;
  }

  .headline {
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -1px;
  }

  .hero-section .subtitle {
    font-size: 16px;
    padding: 0 10px;
    margin-bottom: 30px;
  }

  .top-ad-banner {
    font-size: 12px;
    padding: 6px 12px;
    white-space: nowrap;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .esop-partner-illustration img {
    max-width: 200px;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .hero-section {
    padding: 80px 0 50px 0;
  }

  .gradient-text {
    height: 60px;
  }

  .headline {
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: -0.5px;
    padding: 0 10px;
    text-align: center;
  }

  .hero-section .subtitle {
    font-size: 15px;
    padding: 0 15px;
  }

  .top-ad-banner {
    font-size: 11px;
    margin-bottom: 25px;
  }
}

@media (max-width: 460px) {
  .container {
    padding: 0 10px;
  }

  .hero-section {
    padding: 70px 0 40px 0;
  }

  .headline {
    font-size: 28px;
    line-height: 1.2;
    padding: 0 12px;
    margin-bottom: 0;
  }

  .animated-words {
    line-height: 60px;
    height: 60px;
    overflow: hidden;
  }

  .hero-section .subtitle {
    font-size: 14px;
  }

  .cta-button {
    width: auto;
    font-size: 14px;
    padding: 12px 16px;
  }
}

@media (max-width: 395px) {
  .headline {
    font-size: 24px;
    line-height: 1.1;
  }

  .hero-section .subtitle {
    font-size: 13px;
  }

  .cta-button {
    font-size: 13px;
    padding: 10px 14px;
  }

  .top-ad-banner {
    font-size: 10px;
  }
}

.partner-section {
  padding: 100px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

.fade-container {
  position: relative;
  background: #041E42;
  overflow: hidden;
  width: 100%;
}

.fade-container::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 160px;
  background: linear-gradient(to bottom, rgba(4, 30, 66, 0) 0%, rgba(4, 30, 66, 0.6) 45%, rgba(4, 30, 66, 1) 100%);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  pointer-events: none;
}

.section-header {
  max-width: 1280px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 50px;
  gap: 40px;
}

.gradient-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -0.02em;
  vertical-align: middle;
  background: linear-gradient(100.18deg, #ffffff 51.66%, #e11f35 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.gradient-text span {
  color: inherit;
}

.sub-text {
  max-width: 500px;
  font-size: 1.125rem;
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.card {
  background: linear-gradient(180deg, #1A3D6C 0%, rgba(26, 61, 108, 0) 100%);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  width: 302px;
  height: 370px;
  padding: 48px 32px;
  text-align: center;
  transition: transform 0.3s ease;
  opacity: 1;
  background: linear-gradient(180deg, #1A3D6C 0%, rgba(26, 61, 108, 0) 100%);
  border: 1px solid;
  border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0px 2px 1px 0px rgba(255, 255, 255, 0.2) inset;
  border-bottom: none;
}

.card:hover {
  transform: translateY(-5px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.icon-wrapper {
  width: 88px;
  height: 88px;
  margin: 0 auto 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-wrapper svg {
  width: 40px;
  height: 40px;
  color: #ffffff;
}

.card h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 15px;
}

.card p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
  color: rgba(213, 219, 230, 1);
}

@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .section-header {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }

  .sub-text {
    text-align: left;
  }

  .card {
    width: 100%;
    height: 320px;
    padding: 32px 24px;
  }

  .icon-wrapper {
    width: 72px;
    height: 72px;
    margin: 0 auto 20px;
  }

  .icon-wrapper svg {
    width: 32px;
    height: 32px;
  }

  .card h3 {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 12px;
  }

  .card p {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .gradient-text {
    font-size: 1.5rem;
  }

  .section-header {
    gap: 20px;
  }

  .card {
    width: 100%;
    height: 260px;
    padding: 32px 24px;
  }

  .icon-wrapper {
    width: 40px;
    height: 40px;
    margin: 0 auto 20px;
  }

  .icon-wrapper svg {
    width: 24px;
    height: 24px;
  }

  .card h3 {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 8px;
  }

  .card p {
    font-size: 14px;
  }
}

.esop-partner-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 100px 30px;
}

.esop-partner-container {
  width: 100%;
  max-width: 1280px;
  margin: auto;
  background: linear-gradient(180deg, #1A3D6C 0%, #1A3D6C 100%);
  border-radius: 32px;
  padding: 12px;
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.esop-partner-outer {
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(252.16deg, #6696D7 0%, #3F689F 20.97%, #3F689F 78.64%, #6696D7 99.14%);
  gap: 10px;
  padding: 12px;
  border-radius: 32px;
}

.esop-partner-section {
  background: linear-gradient(180deg, #1A3D6C 0%, #1A3D6C 100%);
  gap: 10px;
  padding: 40px;
  border-radius: 32px;
}

.esop-partner-card {
  display: flex;
  gap: 40px;
  align-items: center;
  position: relative;
  z-index: 1;
  align-items: stretch;
}

.esop-partner-content {
  flex: 1.2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 470px;
}

.esop-partner-text-group {
  display: flex;
  flex-direction: column;
}

.esop-partner-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -0.02em;
  vertical-align: middle;
  color: #ffffff;
  margin-bottom: 20px;
  background: linear-gradient(100.18deg, #FFFFFF 21.66%, #E11F35 100%), linear-gradient(91.85deg, #FFFFFF 36.99%, #E11F35 96.56%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.esop-partner-description {
  color: #94a3b8;
  font-size: 1.1rem;
  line-height: 1.6;
  max-width: 500px;
  margin-bottom: 30px;
}

.esop-partner-illustration img {
  max-width: 422px;
  opacity: 0.8;
}

.esop-partner-form-side {
  flex: 1;
}

.esop-partner-glass {
  background: rgba(46, 81, 128, 1);
  border: 1px solid rgba(255, 255, 255, 0.07);
  box-shadow: 0px 2px 1px 0px rgba(255, 255, 255, 0.2) inset;
  border-radius: 16px;
  padding: 40px;
}

.esop-partner-form-title {
  color: #e2e8f0;
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 30px;
  line-height: 1.4;
}

.esop-partner-glass input,
.esop-partner-glass select {
  width: 100%;
  padding: 14px 18px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  color: #ffffff;
  font-size: 0.95rem;
  margin-bottom: 20px;
  outline: none;
}

.esop-partner-glass input::placeholder {
  color: rgba(228, 228, 231, 1);
}

.esop-partner-glass select {
  appearance: none;
  cursor: pointer;
  color: rgba(228, 228, 231, 1);
  font-size: 14px;
  background-color: #2E5180;
  background-image: url(./assets/Frame.svg);
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 14px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #fff;
  cursor: pointer;
}

.esop-partner-submit-btn {
  width: 100%;
  background: rgba(225, 31, 53, 1);
  color: #ffffff;
  border: none;
  padding: 16px;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: center;
  gap: 8px;
  transition: background 0.3s ease;
}

.esop-partner-submit-btn:hover {
  background: #be123c;
}

@media (max-width: 900px) {
  .esop-partner-card {
    flex-direction: column;
    text-align: center;
  }

  .esop-partner-title {
    font-size: 2.2rem;
  }

  .esop-partner-description {
    margin: 0 auto 30px;
  }

  .esop-partner-section {
    padding: 40px 20px;
  }
}

@media (max-width: 1200px) {
  .partner-section {
    padding-top: 0;
  }
}

@media (max-width: 768px) {
    .questions-section .questions-section__wrapper {
        flex-direction: column;
    }
}