.hero-section {
  width: 100%;
  padding: 200px 0 100px;
  position: relative;
  text-align: center;
  display: flex;
  overflow: hidden;
}
@media (max-height: 900px) {
  .hero-section {
    background-position: center 0px;
  }
}

@media (max-height: 700px) {
  .hero-section {
    background-position: center 0px;
  }
}

@media (max-width: 600px) {
  .hero-section {
    background-position: center 0px;
  }
}

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headline {
  position: relative;
  font-size: 72px;
  font-weight: 700;
  line-height: 90px;
  margin-bottom: 24px;
  letter-spacing: -2px;
  color: #FFFFFF;
  display: inline-block;
  z-index: 1;
  max-width: 1150px;
}

.headline::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 0;
  border-radius: 24px;
  mix-blend-mode: multiply;
  filter: blur(15px);
}

.gradient-text1 {
  position: relative;
  display: inline-block;
  background: linear-gradient(100.18deg, #FFFFFF 51.66%, #E11F35 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.hero-section .subtitle {
  position: relative;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  margin: 0 auto 0px auto;
  line-height: 24px;
  max-width: 630px;
}



/* ≤ 1400px (Large laptops) */
@media (max-width: 1400px) {
  .headline {
    font-size: 68px;
    line-height: 84px;
  }
}

/* ≤ 1024px (Tablets / small laptops) */
@media (max-width: 1024px) {
  .headline {
    font-size: 60px;
    line-height: 72px;
    margin-bottom: 20px;
  }
}

/* ≤ 768px (Tablets / large phones) */
@media (max-width: 768px) {
  .headline {
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -1.5px;
  }
}

/* ≤ 600px (Mobile) */
@media (max-width: 600px) {
  .headline {
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -1px;
  }
}

/* ≤ 480px (Small mobile) */
@media (max-width: 480px) {
  .headline {
    font-size: 32px;
    line-height: 1.15;
    letter-spacing: -0.5px;
    text-align: center;
    padding: 0 10px;
  }
}

/* ≤ 395px (Very small screens) */
@media (max-width: 395px) {
  .headline {
    font-size: 24px;
    line-height: 1.1;
  }
}


.pricing-container {
  display: flex;
  gap: 32px;
  max-width: 1280px;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 30px;
  position: relative;
  padding-bottom: 100px;
}

.card {
  background: linear-gradient(180deg, #1A3D6C 0%, rgba(26, 61, 108, 0) 100%);
  border: 1px solid;
  border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 74.34%);
  box-shadow: 0px 4px 2px 0px rgba(207, 231, 255, 0.2) inset;
  border-radius: 20px;
  padding: 40px 24px;
  flex: 1;
  min-width: 320px;
  max-width: 500px;
  position: relative;
  transition: transform 0.3s ease;
  border-bottom: none;
}

.featured {
  background: linear-gradient(180deg, #336AB6 0%, rgba(26, 61, 108, 0) 100%);
  border: 1px solid;
  border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 74.34%);
  box-shadow: 0px 4px 2px 0px rgba(207, 231, 255, 0.2) inset;
  border-bottom: none;
}

/* .card:hover {
  transform: translateY(-5px);
  border-color: rgba(255, 255, 255, 0.2);
} */

.card-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 25px;
  color: white;
}

.price {
  font-size: 2.5rem;
  color: white;
  font-weight: 700;
  margin-bottom: 20px;
  display: flex;
  align-items: baseline;
}

.currency {
  font-size: 2rem;
  margin-right: 4px;
}

.period {
  font-size: 1rem;
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  margin-left: 5px;
}

.description {
  color: rgba(255, 255, 255, 1);
  line-height: 26px;
  margin-bottom: 30px;
  font-size: 16px;
}

.btn {
  display: block;
  text-align: center;
  padding: 14px;
  border-radius: 12px;
  text-decoration: none;
  font-weight: 600;
  margin-bottom: 40px;
  transition: all 0.3s ease;
}

.btn-outline {
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: white;
}

.btn-outline:hover {
  background: rgba(255, 255, 255, 0.1);
}

.btn-solid {
  background: rgba(225, 31, 53, 1);
  color: white;
}

.btn-solid:hover {
  background: #ff3d4d;
  box-shadow: 0 0 20px rgba(230, 46, 61, 0.4);
}

.features-section {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 30px;
}

.features-section h3 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: white;
}

.features-list {
  list-style: none;
}

.features-list li {
  position: relative;
  margin-bottom: 15px;
  color: rgba(255, 255, 255, 1);
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0;
  vertical-align: middle;
  display: flex;
  gap: 12px;
}

.badge {
  position: absolute;
  top: 30px;
  right: 30px;
  background: #e62e3d;
  padding: 6px 12px;
  border-radius: 12px;
  text-transform: uppercase;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0;
  vertical-align: middle;
}

@media (max-width: 768px) {
  .pricing-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
    /* max-width: 400px; */
  }
}

.img-tilt {
  transform: rotate(45deg);
}

.btn {
  display: flex;
  justify-content: center;
  gap: 6px;
}