.hero-section {
  background-image: url("./assets/1428ff2698740f38f1d4cb447f3399fbb713b62d(1).jpg");
}

@media (max-width: 600px) {
  .hero-section {
    padding: 60px 0 60px 0;
    align-items: center;
  }

  .top-ad-banner {
    white-space: nowrap;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    width: 100%;
}

.service-hero-gradient-text-4 {
  max-width: 380px;
}

.service-hero-subtitle-2 {
  max-width: 540px;
}

.service-hero-subtitle-4 {
  max-width: 350px;
}

.card h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 15px;
}

.card p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
  color: rgba(213, 219, 230, 1);
}

@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    max-width: 100%;
    height: 320px;
    padding: 32px 24px;
  }

  .icon-wrapper {
    width: 72px;
    height: 72px;
    margin: 0 auto 20px;
  }
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .card {
    width: 100%;
    height: 260px;
    padding: 32px 24px;
  }
}

.service-why-section {
  padding: 80px 20px;
  color: #ffffff;
  position: relative;
  padding-top: 0;
}

.service-why-card {
  background: radial-gradient(60% 60% at 93.7% 8.1%, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.08) 25%, rgba(255, 255, 255, 0) 60%), linear-gradient(180deg, #1A3D6C 0%, rgba(26, 61, 108, 0) 100%);
  box-shadow: inset 0 2px 1px rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 32px 38px;
  border-image: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  border-image-slice: 1;
  clip-path: inset(0 0 1px 0);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.service-why-grid>.service-why-card:last-child {
  grid-column: 1 / -1;
  justify-self: center;
  max-width: 585px;
  width: 100%;
}
