.hero-section {
  width: 100%;
  height: clamp(200px, 70vh, 750px);
  padding: 100px 0 100px;
  background-image: url("./assets/b95861532bcd0fba7ec36a0e838bd7e134780b46(1).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -260px;
  position: relative;
  text-align: center;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}
.service-why-section-2 .service-why-content {
  flex-direction: column;
}
.hero-section .subtitle {
  position: relative;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  margin: 0 auto 0px auto;
  line-height: 24px;
  max-width: 686px;
}

@media (max-height: 900px) {
  .hero-section {
    background-position: center 0px;
  }
}

@media (max-height: 700px) {
  .hero-section {
    background-position: center 0px;
  }
}

@media (max-width: 600px) {
  .hero-section {
    background-position: center 0px;
  }
}

.service-hero-section-last {
  padding-top: 80px;
  padding-bottom: 0;
}

.service-hero-gradient-text-4 {
  max-width: 540px;
  text-align: center;
}

.service-hero-subtitle-4 {
  max-width: 330px;
  text-align: center;
}

.gradient-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -0.02em;
  vertical-align: middle;
  background: linear-gradient(100.18deg, #ffffff 51.66%, #e11f35 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  white-space: normal !important;
  word-break: break-word !important;
}

.card h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 15px;
}

.card p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
  color: rgba(213, 219, 230, 1);
}

.esop-partner-section .sub-text {
  max-width: 840px;
  text-align: center;
}

.four_grid {
  padding: 0 20px;
  margin-bottom: 0;
  padding-top: 60px;
}

.service-why-section-2 .service-why-card {
  display: flex;
  gap: 32px;
  flex-direction: row;
}

.service-why-section-2 .service-why-content {
  color: #ffffff;
  display: flex;
  gap: 24px;
  align-items: flex-start;
}

.trust_structure_heading {
  display: flex;
  flex-direction: column;
  grid-column: 1 / -1;
  gap: 12px;
  margin-bottom: 24px;
  align-items: center;
}