/* =========================
   FILE 2 — SPECIFIC ONLY
   ========================= */

.hero-section {
  background-image: url("./assets/0b02b72ec64125868bafb6d169edbb7f853af727(2).jpg");
}
.service-why-section-2 .service-why-content{
  flex-direction: column;
}
.service-why-section-2 .service-why-card{
  flex-direction: row;
}
.service-hero-subtitle{
  text-align: center;
}
.esop-partner-section .section-header .gradient-text{
  max-width: 800px;
}
.last-sec-text {
  max-width: 650px !important;
}

.four_grid {
  padding: 0 20px;
  margin-bottom: 0;
  padding-top: 60px;
}

.trust_structure_heading {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 24px;
  align-items: center;
}

.service-why-grid>.service-why-card:last-of-type {
  grid-column: 1 / -1;
  justify-self: center;
  max-width: 585px;
  width: 100%;
}

@media (max-width: 992px) {
  .service-why-grid>.service-why-card:last-of-type {
    max-width: 100%;
  }
}

